
body{

    background-color: rgb(206, 133, 212);

}

div {

    display: grid;
    place-items: center;

}

img {
    border: 3px solid rgb(194, 17, 105);
    width: 50%;


}

.instructions {

    background-color: bisque;
    border: 3px solid orange;
    padding: 6px;
    width: 50%;
}

.ingredients {

    background-color: bisque;
    border: 3px solid green;
    padding: 6px;
    width: 50%;
}
